HOMESERVER=https://matrix.org
REGISTER=https://matrix.org/#/register
INTERN_SERVER=http://localhost:8008
TOKEN=
TOKEN_BOT=
TOKEN_ADMIN=
USER_ID=@gpt:matrix.org
USER_ID_BOT=@bot:matrix.org
PERPLEXITY_API_KEY=pplx-12345
SMTP_SERVER=mail.google.com
SMTP_PORT=587
SMTP_EMAIL=demo@mail.com
SMTP_PASS=